---
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 100
BreakBeforeBraces: Attach
BreakStringLiterals: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: None 
AlwaysBreakTemplateDeclarations: Yes
...
